{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<body>
<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="image/shop-breadcrumbs-img.jpg">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
                <div class="page_title text-center">
                	<h1>shop</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->
<!-- Start Shop Section -->
<section class="shop-inner-section pt_large pb_large">
	<div class="container">
    	<div class="row">
        	<div class="col-xl-9 col-lg-8 col-md-12">
            	<div class="shop-options d-sm-flex justify-content-between align-items-center">
                	<div class="sorting-option">
                    	<select class="sorting-items" name="category">
                            <option value="menu_order" selected="selected">Default sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by newness</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option>
                        </select>
                    </div>
                    <div class="showing-items">
                        <p>Showing 1–9 of 15 results</p>
                    </div>
                    <div class="shop-list_grid">
                        <div class="list_grid-btns">
                        	<a href="javascript:void(0)" class="list-view"><i class="ion-navicon-round"></i></a>
                    		<a href="javascript:void(0)" class="grid-view on"><i class="ion-grid"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row list_grid_container grid justify-content-center">
                	<div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-1">
                        	<div class="product-img common-cart-img">
                            	<img src="image/product-img-2.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Ornare sed consequat</a>
                                <p class="cart-price"><del>$ 95.00</del>$ 81.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-2">
                        	<div class="product-img common-cart-img">
                            	<img src="image/product-img-3.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Pellentesque posuere</a>
                                <p class="cart-price"><del>$ 90.00</del>$ 80.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-3">
                        	<div class="product-img common-cart-img">
                            	<img src="image/product-img-4.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Consequat posuere</a>
                                <p class="cart-price"><del>$ 90.00</del>$ 80.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-4">
                        	<div class="product-img common-cart-img">
                            	<img src="image/saller-img-2.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Ornare sed consequat</a>
                                <p class="cart-price"><del>$ 95.00</del>$ 81.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-5">
                        	<div class="product-img common-cart-img">
                            	<img src="image/saller-img-3.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Pellentesque posuere</a>
                                <p class="cart-price"><del>$ 90.00</del>$ 80.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-6">
                        	<div class="product-img common-cart-img">
                            	<img src="image/saller-img-4.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Consequat posuere</a>
                                <p class="cart-price"><del>$ 90.00</del>$ 80.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-7">
                        	<div class="product-img common-cart-img">
                            	<img src="image/product-img-5.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Ornare sed consequat</a>
                                <p class="cart-price"><del>$ 95.00</del>$ 81.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-8">
                        	<div class="product-img common-cart-img">
                            	<img src="image/product-img-6.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Pellentesque posuere</a>
                                <p class="cart-price"><del>$ 90.00</del>$ 80.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    	<div class="product-box common-cart-box box-9">
                        	<div class="product-img common-cart-img">
                            	<img src="image/product-img-7.jpg" alt="product-img">
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info common-cart-info text-center">
                            	<a href="product-detail.html" class="cart-name">Consequat posuere</a>
                                <p class="cart-price"><del>$ 90.00</del>$ 80.00</p>
                                <p class="product-list-text" style="">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="hover-option">
                                	<div class="add-cart-btn">
                                    	<a href="#" class="btn btn-primary">Add To Cart</a>
                                    </div>
                                	<ul class="hover-icon">
                                    	<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#test-popup3" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
        		</div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 order-lg-first"> 
            	<div class="shop-sidebar">
                	<div class="side-quantity-box side-box">
                    	<div class="side-box-title">
                        	<h6>Categories</h6>
                        </div>
                        <div class="quantity-box-detail">
                        	<ul>
                            	<li><a href="#">Women<span>(10)</span></a></li>
                                <li><a href="#">Men<span>(05)</span></a></li>
                                <li><a href="#">Footwear<span>(15)</span></a></li>
                                <li><a href="#">Bags And Backpacks<span>(20)</span></a></li>
                                <li><a href="#">Accessories<span>(07)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-filter-box side-box">
                        <div class="side-box-title">
                            <h6>Filter</h6>
                        </div>
                        <div class="filter-box-detail">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="slider-values d-flex align-items-center">
                                	<p>Price</p>
                                    <input type="text" id="amount" name="price"  placeholder="Add Your Price" /> 
                                </div>
                            </div>
                        </div>
                	</div>
                    <div class="side-quantity-box side-box">
                    	<div class="side-box-title">
                        	<h6>color</h6>
                        </div>
                        <div class="quantity-box-detail">
                        	<ul>
                            	<li><a href="#">black<span>(10)</span></a></li>
                                <li><a href="#">blue<span>(05)</span></a></li>
                                <li><a href="#">red<span>(15)</span></a></li>
                                <li><a href="#">white<span>(20)</span></a></li>
                                <li><a href="#">grey<span>(07)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-quantity-box side-box">
                    	<div class="side-box-title">
                        	<h6>recent Product</h6>
                        </div>
                        <div class="side-recent-product">
                        	<div class="cart-prodect d-flex">
                                <div class="cart-img">
                                    <img src="image/recent-product-1.png" alt="recent-product">
                                </div>
                                <div class="cart-product">
                                    <a href="product-detail.html">Ornare sed consequat</a>
                                    <a href="product-detail.html" class="cp-comments"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                            </div>
                            <div class="cart-prodect d-flex">
                                <div class="cart-img">
                                    <img src="image/recent-product-2.png" alt="recent-product">
                                </div>
                                <div class="cart-product">
                                    <a href="product-detail.html">Pellentesque posuere</a>
                                    <a href="product-detail.html" class="cp-comments"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                            </div>
                            <div class="cart-prodect d-flex">
                                <div class="cart-img">
                                    <img src="image/recent-product-3.png" alt="recent-product">
                                </div>
                                <div class="cart-product">
                                    <a href="product-detail.html">Pellentesque posuere</a>
                                    <a href="product-detail.html" class="cp-comments"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- End Shop Section -->

<!-- Start Footer Section -->
<footer>
	<div class="footer-top">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-4 col-md-12 col-sm-12">
                	<div class="footer-box box-1">
                    	<h6 class="fb-title">ABOUT US</h6>
                        <div class="fb-iner">
                        	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div> 
                </div>
            	<div class="col-lg-4 col-md-6 col-sm-12 order-md-last">
                	<div class="footer-box box-4">
                    	<h6 class="fb-title">CONTACT INFO</h6>
                        <div class="fb-iner">
                        	<ul>
                            	<li><i class="ion-ios-location-outline"></i><p>c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</p></li>
                                <li><i class="ion-ios-telephone-outline"></i><p>+025 2155 3255</p></li>
                                <li><i class="ion-ios-email-outline"></i><a href="#">info@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                	<div class="footer-box box-2">
                    	<h6 class="fb-title">CATEGORIES</h6>
                        <div class="fb-iner">
                        	<ul class="footer-links">
                            	<li><a href="#">Fashion Sneakers</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Outdoor Shop</a></li>
                                <li><a href="#">Pants</a></li>
                                <li><a href="#">Shirts & Tops</a></li>
                                <li><a href="#">Swim Shop</a></li>
                                <li><a href="#">Swimwear</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                	<div class="footer-box box-3">
                    	<h6 class="fb-title">MY ACCOUNT</h6>
                        <div class="fb-iner">
                        	<ul class="footer-links">
                            	<li><a href="#">Orders</a></li>
                                <li><a href="#">Compare</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Log In</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-btm">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<div class="copyright">
                    	<p>Copyright © 2018. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-social text-md-right">
                    	<ul>
                        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="test-popup3" class="white-popup quickview-popup mfp-hide">
    <button type="button" class="mfp-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="ion-close-round"></i></span>
    </button>
    <div class="row">
        <div class="col-md-5">
             <div class="product-image">
                <img id="product_img" src='image/product1.png' data-zoom-image="image/product1.png"/>
             </div>
             <div id="pr_item_gallery" class="product_gallery_item owl-thumbs-slider owl-carousel owl-theme">
                <div class="item">
                    <a href="#" class="active" data-image="image/product1.png" data-zoom-image="image/product1.png">
                        <img src="image/product_small1.png" />
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-image="image/product2.png" data-zoom-image="image/product2.png">
                        <img src="image/product_small2.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="quickview-product-detail">
                <h2 class="box-title">Ornare sed consequat</h2>
                <h3 class="box-price"><del>$ 95.00</del>$ 81.00</h3>
                <p class="box-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <p class="stock">Availability: <span>In Stock</span></p>
                <div class="quantity-box">
                    <p>Quantity:</p>
                    <div class="input-group">
                    	<input type="button" value="-" class="minus">
                        <input class="quantity-number qty" type="text" value="1" min="1" max="10">
                        <input type="button" value="+" class="plus">
                    </div>
                    <div class="quickview-cart-btn">
                        <a href="#" class="btn btn-primary"><img src="image/cart-icon-1.png" alt="cart-icon-1"> Add To Cart</a>
                    </div>
                </div>
                <div class="box-social-like d-sm-flex justify-content-between">
                    <ul class="hover-icon box-like">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                    </ul>
                    <ul class="hover-icon box-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Quickview Popup Section -->


</body>

</html>
{%endblock%}