{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">

<body>
<!-- LOADER -->
<!-- LOADER -->

<!-- Start Header Section -->
<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="{% static 'image/fruits-vegetables.jpg' %}">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->

<!-- Start Contact Detail Section -->
<section class="aboutus-inner-page pt_large pb_large">
	<div class="container">
    	<div class="row">
        	<div class="col-md-6">
            	<div class="about-info-img">
                	<img src="{% static 'image/recommendation.jpg' %}" alt="about-img">
                </div>
            </div>
            <div class="col-md-6">
            	<div class="about-info">
                    <p>Добро пожаловать в PureBite!</p>
                    <br>
                	<p>


Мы — ваш надежный оптовый партнер в мире продуктов питания. Предлагаем широкий ассортимент качественных товаров по конкурентоспособным ценам. Будь то свежие овощи, фрукты, бакалея или замороженные продукты — у нас есть все, что нужно для вашего бизнеса.

<h4><br>Почему выбирают нас:<br></p></h4>
                    <ul class="about-points">
                    	<li><span class="fa fa-hand-o-right"></span>Широкий выбор товаров</li>
                        <li><span class="fa fa-hand-o-right"></span>Отличные цены</li>
                        <li><span class="fa fa-hand-o-right"></span>Высокое качество</li>
                        <li><span class="fa fa-hand-o-right"></span>Быстрая и удобная доставка</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Detail Section -->


                </div>
            </div>
        </div>
    </div>
</section>
<footer>

    <div class="footer-btm">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="copyright">
                       <td style="vertical-align: middle;">
                    <p><strong>Контактная Информация:</strong></p>
                    <p><strong>Адрес:</strong> 7 мкр, д. 26, г. Рио-де-Жанейро, Бразилия</p>
                    <p><strong>Телефон:</strong> +996(702)-341-774</p>
                    <p><strong>Email:</strong> adele.almazbekova@gmail.com</p>


                    <!--
    </footer>
</body>
</html>>
                </div>
                <div class="col-md-6">
                    <div class="footer-social text-md-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
{% endblock %}
